.role {
    padding: 10px;
}

.yourlist,
.centrallist {
    font-family: arial;
    height: 80vh;
    padding: 5px 10px 10px;
    display: inline-block;
}

.yourlist {
    vertical-align: top;
    width: 20vm;
    width: 30%;
    background-color: lightgrey;
    border-radius: 10px;
    padding-right: 20px;
}
.centrallist {
    width: 60%;
    padding-left: 10px;
    background-color: lightgrey;
    border-radius: 10px;
}
.users {
    align-items: center;
    padding: 10px;
}

.induseravatar {
    padding-left: 10px;
}

.home {
    width: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    display: inline-block;
    margin-left: auto;
    height: auto;
}
