.role {
    padding: 10px;
}

/* .yourlist,
.centrallist {
    width: 45%;
    background-color: lightgrey;
    font-family: arial;
    margin-left: 30px;
    height: 80%;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    display: inline-block;
}
.yourlist {
    vertical-align: top;
} */
